In [6]:
import pandas as pd

data = {
    "Name": ["Amaan", "Rahul", "Sakshi"],
    "Age": [20, 22, 23]
}

df = pd.DataFrame(data)
print(df)

df

     Name  Age
0   Amaan   20
1   Rahul   22
2  Sakshi   23

     Name  Age
0   Amaan   20
1   Rahul   22
2  Sakshi   23