In [ ]:
import pandas as pd

data = {
    "Name": ["Amaan", "Rahul", "Sakshi"],
    "Age": [20, 22, 23]
}

# data frame
df = pd.DataFrame(data)
# print(df)

# df

In [ ]:
# series properties

# 1. homogeneous
s = pd.Series([1, 2, 3, 4, "Amaan"], index=["a", "b", "c", "d", "name"])
# print(s)
# print(s["c"])
# print(s.index)

# 2. vectorized operations
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

print(s1 + s2)

In [ ]:
s = pd.Series([1, 2, 3, 4, 5])
print(s)

s[5] = 55
print(s)

In [ ]:
# DataFrame

info = {
    "Name": ["Amaan", "Rahul", "Sakshi"],
    "Age": [20, 22, 23],
    "Gpa": [6.29, 7.21, 8.22]
}

df = pd.DataFrame(info)

print(df)

print(type(df))

print(df.index)

print(df.columns)
df

In [ ]:
info = pd.DataFrame([["Amaan", 21], ["atul", 24], ["ram", 26]], columns=["Name", "Age"])
print(info)

print(type(info))

info

In [ ]:
# csv operations

df = pd.read_csv("sample_students_data.csv")

df

In [ ]:
# methods
# df.head(3)
#
# df.tail(2)
#
# df.sample(3)
#
# df.info()

# df.shape

# df.describe()
#
# df.columns

df.nunique()

In [92]:
# AQI DATASET

df = pd.read_csv("globalAirQuality.csv")

# df.head()
#
# df.tail()
#
# df.sample()
#
# df.info()
#
# df.shape


# df.columns

# df.nunique()

df.describe()

df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [95]:
# df[["country", "city"]]

# df.loc[0, "aqi"]

# df.loc[0:0, ["aqi", "country"]]

# df.iloc[0:2, [0, 1]]

# df.at[0, "city"]

modified_value = df.iat[0, 2] = "Mumbai"

df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,Mumbai,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403